body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #1b2242
}




.heading{
  text-align: center;
  color: white;
}

.timer-card{
  text-align: center;
}

.buttons{
  cursor: pointer;
  color:white;
  padding: 1rem;
}

.buttons-div{
  height: 50px;
  margin: auto;
  width: fit-content;
  border-radius: 20px;
  background-color: #151932;
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  column-gap: 15px;
  margin-bottom: 1rem;
  padding: 0 0.3rem;
}

.startStop{
  cursor: pointer;
}

.selected{
  border-radius: 20px;
  background-color: #f57172;
  padding: 0.5rem;
}


.circle {
  stroke-dasharray: 21;
  stroke-dashoffset: 0;
  animation-iteration-count: infinite;
  animation-name: rotate;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.settingsImage{
  text-align: center;
  margin-top: 1rem;
}

.icon{
  height: 35px;
  cursor: pointer;
}

.modal{
  background-color: none;
}

@keyframes rotate {
  to {
    stroke-dashoffset: 21;
  }
}
